<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth-Node</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/logout">LogOut</a></li>
      <li><a href="/userinfo/basic">Saved Info</a></li>
      <li><a href="#">More Coming</a></li>
      <li><a href="/chat/enter">Contact Friends</a></li>
    </ul>
  </div>
</nav>
